html {
    scroll-behavior: smooth;
}
*:target {
    /* Safari 11-14 */
    scroll-snap-margin-top: 100px;
    /* Other browsers */
    scroll-margin-top: 100px;
}
@media screen and (max-width: 767px) {
    *:target {
        scroll-snap-margin-top: 150px;
        scroll-margin-top: 150px;
    }
}